.customizeContainer {
  display: flex;
  height: 300px;
}

.elementsList {
  width: 65%;
  height: 300px;
  overflow-y: auto;
}

.elementsList ul li {
  padding: 6px;
  border: 1px solid lightgrey;
  cursor: pointer;
}

.elementsList ul li:hover {
  background: lightgrey;
}

.utilityClasses {
  width: 100%;
  height: 300px;
  overflow-y: auto;
}
