html {
  height: 300px;
  width: 300px;
}

.App {
  text-align: center;
}

header {
  height: 40px;
  background: #282c34;
  display: flex;
  color: white;
  padding: 10px;
  align-items: center;
  font-size: x-large;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  border: none;
  border-radius: 3px;
  background: #282c34;
  line-height: 2;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  margin: 2px;
}

button:hover {
  background: #282c34d0;
}

.element {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
  margin-bottom: 9px;
  padding-bottom: 2px;
  border: 1px solid lightgrey;
  padding: 4px 4px;
  margin-top: 4px;
}

.element div {
  display: flex;
  flex-direction: column;
  padding: 3px 0;
}

.element input {
  border: 1px solid;
  border-radius: 3px;
  line-height: 2;
  font-size: medium;
}

.element select {
  line-height: 2;
  height: 35px;
}

.element textarea {
  height: 50px;
}

.container {
  overflow-y: auto;
}

.buttonCont {
  display: flex;
  margin: 5px 0;
}

.buttonCont button {
  width: 100%;
}

.closeCont {
  justify-content: flex-end;
  flex-direction: row !important;
}

.closeCont button {
  width: 25px;
  height: 25px;
  font-size: small;
  background: unset;
  color: black;
  border: 1px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editor {
  border: 1px solid lightgrey;
}

.alert {
  position: fixed;
  z-index: 20;
  background: rgb(12, 106, 189);
  color: white;
  padding: 10px 5px;
  left: 132px;
}

.alert-error {
  background: red;
}

.tabHeadContainer {
  display: flex;
  list-style: none;
  margin-bottom: 0;
  padding-left: 3px;
}

.tabHeadItem {
  cursor: pointer;
  padding: 5px;
  border: 1px solid #aba9a9;
  margin-right: 2px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  border-bottom: unset;
}

.tabActive {
  border: 1px solid black;
  border-bottom: unset;
}
